<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/stylesheets/style.css"  rel="stylesheet">
  </head>
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4"><%= title %> page</h1>
    </div>
    <div>
      <h2>Welcome to my <%= title %> page</h2>
      <h3>Click though to find out about me.</h3>
      <ul>
        <li><a class="nav-link active"  aria-content=page href="/"><i class="fas fa-lg fa-laptop-house"></i> Home </a></li>
        <li><a class="nav-link"  href="/about"><i class="fa-solid fa-profile"></i> About </a></li>
        <li><a class="nav-link"  href="/contact"><i class="fa-solid fa-address-book"></i>Contact</a></li>
        <li><a class="nav-link"  href="/projects"><i class="fa-brands fa-projects"></i>Product</a></li>
        <li><a class="nav-link"  href="/services"><i class="fa-brands fa-servicestack"></i>Services</a></li>
      </ul>
      <h2>Mission Statement</h2>
      <p>My goal is to make sci-fi fantasy no longer a fantasy.</p>
    </div>
    </main>
    <!--bottom nav-->
   
    <!--script section-->
    <%- include ('partials/bottom_nav.ejs') %>
    <%- include ('partials/footer.ejs') %>
</html>
