<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/stylesheets/style.css"  rel="stylesheet">
  </head>
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4"><%= title %> page</h1>
    </div>
    <div>
      <h3>Services Offered:</h3>
      <ul>
        <li>general programming</li>
        <li>web UI designing</li>
        <li>web designing</li>
        <li>creating databases</li>
        <li>robot construction</li>
        <li>robot programming</li>
        <li>robot designing</li>
      </ul>
    </div>
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
</html>